<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="PromisePay">
      <section name="Settings" type="PromisePayDotNet.Settings.SettingsHandler,PromisePayDotNet" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PromisePayApiUrl" value="https://test.api.promisepay.com" />
    <add key="PromisePayLogin" value="idsidorov@gmail.com" />
    <add key="PromisePayPassword" value="mJrUGo2Vxuo9zqMVAvkw" />
    <!-- UNUSED PARAMETER-->
    <!--<add key="PromisePayKey" value="mJrUGo2Vxuo9zqMVAvkw" />-->
  </appSettings>  
  <PromisePay>
    <Settings>
      <add key="ApiUrl" value="https://test.api.promisepay.com" />
      <add key="Login" value="idsidorov@gmail.com" />
      <add key="Password" value="mJrUGo2Vxuo9zqMVAvkw" />
      <!-- UNUSED PARAMETER-->
      <!--<add key="Key" value="mJrUGo2Vxuo9zqMVAvkw" />-->
    </Settings>
  </PromisePay>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
